$color_dark: rgba(0, 0, 0, 0.555);
$color_dark_hard: rgba(0, 0, 0, 0.705);
$color_light: rgba(255, 255, 255, 0.116);
$default_text_color: #e4e1e1;
$contrast_color: #cf2e2e;
$default_border_radius: 5px;
$small_margin: 1%;
$default_margin: 3%;
$large_margin: 6%;
