.dropdownNavbarElement {
  color: $default_text_color;
  height: 100%;
  position: relative;
  flex-direction: column;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 15px;

  &:hover &__dropdown {
    display: inline-block;
  }

  &__text {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    width: 100%;
    font-weight: 400;
  }

  &__dropdown {
    display: none;
    list-style-type: none;
    margin: 0;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;
    padding: $large_margin;
    background-color: $color_dark;
    text-align: center;

    & li {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {
  .dropdownNavbarElement {
    margin-top: $large_margin;
    &__text {
      border-bottom: 2px solid $default_text_color;
    }
    &__dropdown {
      display: inline-block;
      background-color: rgba(255, 0, 0, 0);
      position: static;
      padding: $small_margin;
    }
  }
}
