$color_dark: rgba(0, 0, 0, 0.555);
$color_light: rgba(255, 255, 255, 0.116);
$default_text_color: rgb(228, 225, 225);
$contrast_color: #CF2E2E;
$default_border_radius: 5px;
$small_margin: 1%;
$default_margin: 3%;
$large_margin: 6%;